@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

textarea {
  resize: none;
  width: 98%;
  height: 98%;
  position: absolute;
  top: 0px;
  border: none;
  margin: 1%;
  font-family: 'PT Mono', monospace;
  font-size: 1.5em;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
}

textarea:focus {
  outline: none;
}

.speeddial button {
  background-color: #1e4e64;
  color: #fff;
}

.speeddial button:hover {
  background-color: #1888bb;
  color: #fff;
}
